<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form method="POST" action="/login">
        USERNAME: <input type="text" name="username"/>
        PASSWORD: <input type="password" name="password"/>
        <button>LOGIN</button>
        <% if( errorLoggingIn ) { %>
            There was an error logging in
        <% } %>
    </form>
</body>
</html>