<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/external/bootstrap/css/bootstrap.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <p>HELLO AND WELCOME</p>
        <h1 style="text-align: center;"><%=description %></h1>
        <footer style="text-align: center; margin-top: 30em">&copy;Nineleaps (v<%=version%>)</footer>
    </div>
</body>
</html>